  section {
    background: var(--cream);
    height: 442px;
    display: flex;
    align-items: center;
  }

  .inner {
    max-width: 900px;
    margin: 0 auto;
    border-left: 12px solid #765B00;
    padding-left: 2rem;
  }

  h2 {
    font-family: var(--font-display);
    font-weight: 900;
    font-size: clamp(1.5rem, 3vw, 2.2rem);
    text-transform: uppercase;
    color: var(--text-dark);
    margin-bottom: 1.5rem;
  }

  .quote {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32.5px;
    letter-spacing: 0px;
    color: rgba(28, 27, 27, .75);
    font-style: italic;
    width: 768px;
    margin-bottom: 1rem;
  }

  .sig {
    font-family: var(--font-display);
    font-weight: 700;
    font-size: .75rem;
    letter-spacing: .15em;
    text-transform: uppercase;
    color: var(--yellow-dark);
  }